.home-container {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: auto;
}

@media (max-width: 650px) {
  .home-container {
    flex-direction: column;
  }
}
